{% extends 'allianceauth/base.html' %}
{% load i18n %}
{% load webpush_notifications %}

{% block page_title %}{% translate "Push Notifications" %}{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <h1 class="page-header text-center">{% translate "Push Notifications" %}</h1>
        <div class="col-lg-12 container">
            {% block details %}{% endblock %}
        </div>
    </div>
{% endblock %}
