{% extends 'pushnotifications/base.html' %}
{% load i18n %}
{% load humanize %}
{% load webpush_notifications %}

{% block details %}

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{% translate "Manage Push Notifications" %}</h3>
        </div>
        <div class="panel-body" style="min-height: 100px;">
            <button id="webpush-subscribe-button" class="btn btn-info"
            data-url="/webpush/save_information">Subscribe to Push Messaging</button>
        </div>
    </div>

{% endblock %}

{% block extra_javascript %}
{% webpush_header %}
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_script %}
{% endblock %}
